<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rack</title>
  <style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
  <link th:href="@{\css\styles.css}" rel="stylesheet">
</head>
<body>
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Go To
      <i class="fa fa-caret-down>"></i>
    </button>
    <div class="dropdown-content">
      <a class="option" th:href="@{/}">Home</a>
      <a class="option" th:href="@{demarc}">Rack Power Priority for Demarc</a>
      <a class="option" th:href="@{/mdf}">Power distribution to MDF Racks</a>
      <a class="option" th:href="@{/rack}">Rack Safety</a>
      <a class="option" th:href="@{/temp}">Report Summary</a>
    </div>
  </div>
</div>
<h1 align="center" style="margin-top: 50px">Rack Safety</h1>
<h4 align="center" >Objectives: Ensure electircal and physicall grounding of the rack</h4>
<div align="center">
  <form action="#" th:action="@{/result}" th:object="${rack}" method="post">
    <p style="font-weight: bold">Action items:</p>
    <table class="item">
      <tr>
        <td>
          <label>Ensure each rack has grounding connections attached back to MDF grounding bar / building ground:</label>
        </td>
        <td>
          <label><input type="radio" th:field="*{areGroundingConnectionAttached}" th:value="Pass" required/>Pass</label>
        </td>
        <td>
          <label><input type="radio" th:field="*{areGroundingConnectionAttached}" th:value="Fail" required/>Fail</label>
          </td>
        </tr>
        <tr>
          <td>
            <label>Ensure each rack is bolted to floor (if applicable, earthquake zones):</label>
          </td>
          <td>
            <label><input type="radio" th:field="*{isRackBolted}" value="Pass" required/>Pass</label>
          </td>
          <td>
            <label><input type="radio" th:field="*{isRackBolted}" value="Fail" required/>Fail</label>
          </td>
        </tr>
    </table>
    <br>
    <label>Side notes:</label>
    <br>
    <textarea rows="10" cols="50" th:field="*{siteNotes}"></textarea>
    <div align="center" th:if="${error}" th:text="${error}" style="color:#DC143C;"></div>
    <br><br>
    <button type="submit">Submit report</button>
  </form>
</div>
</body>
</html>